:root {
	--bg-color-main: rgba(0,0,0, 0.85);
	--bg-color-compra-curso: rgba(70,255,120, 0.795);
	--color-compra-curso: rebeccapurple;
	--text-color: rgb(100,180,215);
	--bg-especial-gradiente: linear-gradient(to right, #663399, rgba(100,180,215));
	--bg-especial-gradiente-claro: linear-gradient(to right, #9966CC, rgba(130,200,235));
	--bg-especial-gradiente-reverso: linear-gradient(to left, rebeccapurple, rgba(100,180,215));
	--bg-especial-gradiente-claro-reverso: linear-gradient(to left, #9966CC, rgba(130,200,235));
	--alinhamento-vertical-duvida-resposta: 400px;
}

html {
	scroll-behavior: smooth;
}

body, * {
	font-family: 'Roboto', sans-serif;
}

body {
	background: var(--bg-color-main);
}

.grade-completa {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(auto-fill, auto);
	/**grid-template-areas: 
	"header"
	"main"
	"footer";**/
	grid-gap: 40px;
	width: 100%;
}

header {
	/**grid-area: header;**/
	position: relative;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	line-height: normal;
}

.texto-padrao, .titulo-padrao, .cabecalho h1, .duvida-resposta, .lista-equipamentos {
	color: var(--text-color);
}

.cabecalho {
	font-size: 4em;
	font-weight: bold;
	position: relative;
	width: 75%;
	min-height: 160px;
	margin: 0 auto;
	text-align: center;
	padding: 0.2em;
	line-height: 1.3em;
}

.texto-especial-gradiente {
	font-size: 1.3em;
	background: var(--bg-especial-gradiente);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.texto-especial-gradiente-reverso {
	background: var(--bg-especial-gradiente-reverso);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

main {
	/**grid-area: main;**/
	display: grid;
	/**grid-template-rows: 1fr 0.7fr 3fr 1fr 3fr;**/
	grid-template-rows: repeat(auto-fill, auto);
	grid-template-columns: 1fr;
	/*grid-template-areas: 
	"primeiro-main"
	"segundo-main"
	"terceiro-main"
	"quarto-main"
	"quinto-main";*/
	grid-row-gap: 70px;
	padding: 0 0 120px 0;
}

.caixa-padrao-conteudo {
	position: relative;
	margin: 0 auto;
	width: 75%;
}

.primeiro-main {
	/*grid-area: primeiro-main;*/
}

.compra-curso {
	position: relative;
	top: 0.5em;
	left: 40%;
	background-color: var(--bg-color-compra-curso);
	font-size: 1.6em;
	text-align: center;
	width: 270px;
	height: 70px;
	border-radius: 10px;
	padding: 0.2em;
	margin: 1.7em;
	border-width: 3px;
	color: var(--color-compra-curso);
	font-weight: bold;
	transition: 0.05s all;
}

.compra-curso:hover {
	transform: scale(1.05);
	transition: 0.9s transform;
}

.compra-curso:active {
	transform: scale(0.95);
}

.compra-curso img {
	width: 50px;
	vertical-align: middle;
}

.titulo-padrao {
	font-size: 2em;
	font-weight: 900;
	text-align: center;
	line-height: 1.7em;
}

.especial-gradiente-claro {
	background: var(--bg-especial-gradiente-claro);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.especial-gradiente-claro-reverso {
	background: var(--bg-especial-gradiente-claro-reverso);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.texto-padrao {
	font-size: 2em;
	line-height: 1.4em;
	text-align: justify;
}

.texto-padrao:first-letter {
	margin-left: 0.5em;
}

em {
	font-style: italic;
}

b {
	font-weight: bold;
}

.segundo-main {
	/**grid-area: segundo-main;*/
}

.grade-duvidas-respostas {
	position: relative;
	width: 75%;
	height: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fill, auto);
}

.terceiro-main {
	/*grid-area: terceiro-main;*/
}

.duvida-resposta {
	width: 70%;
	height: var(--alinhamento-vertical-duvida-resposta);
	position: relative;
	margin: 0 auto;
	text-align: center;
	line-height: var(--alinhamento-vertical-duvida-resposta);
}

.duvida-resposta span {
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
}

.duvida-resposta h2 {
	font-size: 1.7em;
	margin-bottom: 1em;
	font-weight: bold;
}

.duvida-resposta p {
	font-size: 1.4em;
	margin-bottom: 1em;
}

a {
	color: inherit;
	text-decoration-color: inherit;
}

.quarto-main {
	/*grid-area: quarto-main;*/
}

div.aos {
	width: 800px;
	position: relative;
	margin: 0 auto;
}

.lista-equipamentos {
	position: relative;
	width: 75%;
	height: auto;
	margin: 0 auto;
}

.lista-equipamentos div.aos-animate, .lista-equipamentos div.aos-init {
	width: 850px;
}

.lista-equipamentos .equipamento {
	display: inline-block;
	width: 75%;
	height: auto;
	font-size: 1.5em;
	line-height: 2em;
	font-weight: bold;
}

.lista-equipamentos .equipamento:after {
 content: ";";
}

.lista-equipamentos span:nth-child(1n) {
	background: var(--bg-especial-gradiente);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.quinto-main {
	/*grid-area: quinto-main;*/
}



footer {
	/**grid-area: footer;**/
}
