:root {
	--bg-color-main: rgba(0,0,0, 0.85);
	--bg-color-compra-curso: rgba(70,255,120, 0.795);
	--color-compra-curso: rebeccapurple;
	--text-color: rgb(110, 170, 230);
	--bg-especial-gradiente: linear-gradient(to right, rebeccapurple, rgba(100,180,215, 0.8));
}

body, * {
	font-family: 'Roboto', sans-serif;
}

body {
	background: var(--bg-color-main);
}

.grade-completa {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.texto-padrao, .titulo-padrao, .cabecalho h1, .duvida-resposta, .lista-equipamentos {
	color: var(--text-color);
}

.cabecalho {
	font-size: 4em;
	font-weight: bold;
	position: relative;
	width: 70%;
	min-height: 160px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.4em;
	padding: 0.2em;
}

h1 {
	position: absolute;
	left: 10;
}

.texto-especial-gradiente {
	font-size: 1.3em;
	background: var(--bg-especial-gradiente);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.caixa-padrao-conteudo {
	position: relative;
	margin: 0 auto;
	width: 70%;
	height: 510px;
	padding: 0.5em;
}

.compra-curso {
	position: absolute;
	top: 0.5em;
	left: 40%;
	background-color: var(--bg-color-compra-curso);
	font-size: 1.6em;
	text-align: center;
	width: 270px;
	height: 70px;
	border-radius: 10px;
	padding: 0.2em;
	margin: 0.7em;
	border-width: 3px;
	color: var(--color-compra-curso);
	font-weight: bold;
}

.titulo-padrao {
	position: absolute;
	top: 140px;
	font-size: 2em;
	font-weight: bold;
	text-align: justify;
	line-height: 1.7em;
}

.texto-padrao {
	font-size: 2em;
	line-height: 1.4em;
	text-align: justify;
}

em {
	font-style: italic;
}

.texto-padrao:first-letter {
	margin-left: 70px;
}
